<div id="nav-bar">
  <div id="nav-bar-content">
    <div id="nav-bar-left">
      <div *ngIf="reg.isLoggedIn == false" (click)="reg.onLogOutClick()"
      style="font-size: 1.5em;"class="nav-bar-items">Logout</div>
    </div>
    <div id="nav-bar-right">
      <div *ngIf="reg.isLoggedIn != false"(click)="reg.onLogOutClick()"
      style="font-size: 1.5em;"class="nav-bar-items">Logout</div>
    </div>
  </div>
</div>

<app-landing-page *ngIf="reg.getShowLandingPage()"></app-landing-page>
<app-home-page *ngIf="reg.getShowMainPage()"></app-home-page>
